<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">& copy ; <%= year %>, CSE 340 App</p>
  <!-- TASK 3: Enlace para generar error intencional 500 -->
  <p><a href="/inv/trigger-error" title="Trigger a 500 error">Trigger Error</a></p>
</footer>