<header id="top-header">
  <div>
    <img src="/images/site/icon.png" alt="site logo" />
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
  </div>
  <div id="tools">
    <% if (locals.loggedin) { %>
      <!-- 👤 USUARIO LOGUEADO: Mostrar Welcome + Logout -->
      <a
        id="welcome-link"
        class="call-to-action"
        title="Click to go to account management"
        href="/account/"
        >Welcome <%= locals.accountData.account_firstname %></a
      >
      <a
        id="log-out"
        class="call-to-action"
        title="Click to log out"
        href="/account/logout"
        >Logout</a
      >
    <% } else { %>
      <!-- 🚪 USUARIO NO LOGUEADO: Mostrar My Account -->
      <a
        id="call-to-action"
        class="call-to-action"
        title="Click to log in"
        href="/account/login"
        >My Account</a
      >
    <% } %>
  </div>
</header>
